{% extends 'base.html' %} 
{% load static %} 
{% block add %}
<link rel="stylesheet" href="{% static 'CSS/blog.css' %}" />
{% endblock add %} {% block content %}
<!-- Start Blog section -->
<style>
  .blog {
    background-image: url({% static "images/blog.png" %});
    background-size: cover;
    height: calc(100vh - 120px);
    color: white;
    flex-basis: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 1;
}
</style>
  
  <div class="blog">
    <div class="intro-text-blog">
      <h1>Our Blog</h1>
    </div>
  </div>
  <!-- End Blog section  -->

  <!-- Start Cards -->
  <div class="container bigCard">
    <div class="card">
      <img src="{% static "images/Leisure-tourism.jpg" %}" alt="" />

      <div class="card-content">
        <h3>Leisure Tourism</h3>
        <p>
          A type of trip that people take for the purpose of recreation, enjoyment, and spending an enjoyable time away
          from the daily routine and work. Recreational trips aim to achieve psychological and physical comfort through
          fun and exciting activities .
        </p>
        <a href="{% url "read_more3" %}" class="btn-blog">Read More</a>
      </div>
    </div>

    <div class="card">
      <img src="{% static "images/Religious-Tourism.jpg" %}" alt="" />
      <div class="card-content">
        <h3>Religious Tourism</h3>
        <p>
          Traveling to a holy or religiously significant place with the aim of worshiping,
          worshiping, participating in religious rituals, or receiving a religious blessing. The goals and objectives of
          religious trips vary according to religion and beliefsIt is linked to specific traditions that
          differ from religions .
        </p>
        <a href="{% url "read_more4" %}" class="btn-blog">Read More</a>
      </div>
    </div>

    <div class="card">
      <img src="{% static "images/Cultural-tourism.jpg" %}" alt="" />
      <div class="card-content">
        <h3>Cultural Tourism</h3>
        <p>
          A type of tourism that focuses on exploring the local culture, history, heritage and arts of the destination
          that the tourist is visiting. It aims to enhance understanding and appreciation of different cultures by
          visiting historical places, archaeological sites and museums .
        </p>
        <a href="{% url "read_more1" %}" class="btn-blog">Read More</a>
      </div>
    </div>

    <div class="card">
      <img src="{% static "images/Eco-tourism.jpeg" %}" alt="" />
      <div class="card-content">
        <h3>Eco-tourism</h3>
        <p>
          A type of tourism that focuses on traveling to natural areas with the intention of enjoying the beauty of
          nature. This type of tourism is characterized by directing attention towards preserving the environment,
          reducing the negative impact on the ecosystem and .
        </p>
        <a href="{% url "read_more2" %}" class="btn-blog">Read More</a>
      </div>
    </div>
  </div>
  <!-- End Cards -->

{% endblock content %}
