{% load static %} 
{% block add %}
<link rel="stylesheet" href="{% static 'CSS/cultural-tourism.css' %}" />
{% endblock add %} {% block content %}
<style>
    .review {
        background-image: url({% static "images/review_background.png" %});
        background-size: cover;
        height: calc(100vh - 120px);
        color: white;
        flex-basis: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        z-index: 1;
    }
</style>
    <!-- Start Blog section -->
    <div class="review">
        <div class="intro-text-review">
        </div>
    </div>
    <!-- End Blog section  -->

    <div class="container">
        <div class="slideshow-container">
            <div class="mySlides fade">
                <img src="{% static 'images/cultural-tourism-1.jpg' %}" style="width:100%">
            </div>

            <div class="mySlides fade">
                <img src="{% static 'images/cultural-tourism-2.jpg' %}" style="width:100%">
            </div>

            <div class="mySlides fade">
                <img src="{% static 'images/cultural-tourism-3.jpeg' %}" style="width:100%">
            </div>

            <div class="mySlides fade">
                <img src="{% static 'images/cultural-tourism-4.jpeg' %}" style="width:100%">
            </div>

            <div class="mySlides fade">
                <img src="{% static 'images/cultural-tourism-5.jpg' %}" style="width:100%">
            </div>

            <a class="prev" onclick="plusSlides(-1)">❮</a>
            <a class="next" onclick="plusSlides(1)">❯</a>

        </div>
        <br>

        <div style="text-align:center">
            <span class="dot" onclick="currentSlide(1)"></span>
            <span class="dot" onclick="currentSlide(2)"></span>
            <span class="dot" onclick="currentSlide(3)"></span>
            <span class="dot" onclick="currentSlide(4)"></span>
            <span class="dot" onclick="currentSlide(5)"></span>
        </div>
        <div class="info">
            <h2>Enjoy the Adventure</h2>
            <p class="c-grey">
                The Greco-Roman Museum in Alexandria is one of the most prominent archaeological museums in Egypt. This
                museum displays a collection of artifacts dating back to the period of Greek and Roman rule in Egypt.
                The museum is an important destination for those interested in ancient history and culture, and is
                located in the city of Alexandria, which was a cultural and scientific center in ancient times.
            </p>

            <p class="c-grey">
                Importance of the museum:
                Enhancing cultural and historical understanding: The museum helps visitors understand the Greek and
                Roman influences on Egyptian culture, and how different civilizations interacted in that period.
                Educating new generations: The museum is an important source of knowledge and education for students and
                researchers in the fields of history and archaeology.
            </p>
        </div>

        <div class="in_ex">
            <h3>Included / Excluded</h3>
            <p class="c-grey">
                To help you plan your trip, we have put together a list of what's included and what's not included in
                your
                tour
                package. This will give you a clear understanding of what to expect and help you make any necessary
                arrangements
                before your journey begins.</p>
            <div class="con_ul">
                <ul>
                    <li>Trains and Bus transportation</li>
                    <li>Breakfast, lunch, and dinner.</li>
                    <li>Accommodation at hotel</li>
                    <li>Professional tour guide</li>
                </ul>
                <ul>
                    <li>Transfers between destinations</li>
                    <li>Entrance fees to museums</li>
                    <li class="x-mark">Custom itinerary</li>
                    <li class="x-mark">Swimming Pool</li>
                </ul>
            </div>
        </div>
    </div>

    <script>
        let slideIndex = 1;
showSlides(slideIndex);

function plusSlides(n) {
  showSlides((slideIndex += n));
}

function currentSlide(n) {
  showSlides((slideIndex = n));
}

function showSlides(n) {
  let i;
  let slides = document.getElementsByClassName("mySlides");
  let dots = document.getElementsByClassName("dot");
  if (n > slides.length) {
    slideIndex = 1;
  }
  if (n < 1) {
    slideIndex = slides.length;
  }
  for (i = 0; i < slides.length; i++) {
    slides[i].style.display = "none";
  }
  for (i = 0; i < dots.length; i++) {
    dots[i].className = dots[i].className.replace(" active", "");
  }
  slides[slideIndex - 1].style.display = "block";
  dots[slideIndex - 1].className += " active";
}

    </script>

    {% endblock content %}
