{% extends 'base.html' %}
{% load static %}
{% block add %}
<link rel="stylesheet" href="{% static 'CSS/details.css' %}">
<script src="{% static 'js/details.js' %}"></script>
{% endblock add %}
{% block content %}

<!-- Start Details Package -->
<div class="package">
  <img src="{{place.image.url}}" alt="" />
  <div class="container">
      <div class="details">
          <h3>{{ place.city }}</h3>
          <span>{{ place.city }}</span>
          <h2>Enjoy The Advance</h2>
          <p>{{ place.description }}</p>
      </div>
      <div class="forms">
          <div class="select">
              <button id="bookForm" class="active" onclick="bookFun()">Booking Form</button>
          </div>
          <div class="prices">
              <div>
                  <span>Price</span>
              </div>
              <div>
                  <h3>{{ place.price }}</h3>
              </div>
          </div>
          <div id="formBook" class="show">
              <div class="date">
                  <h4>Date</h4>
                  <span>{{ place.date|date:"d-m-Y" }}</span>
              </div>
              <div class="adults">
                  <div class="adult">
                      <h4>Adults</h4>
                      <span>Over 18 ( {{ place.price }} EG )</span>
                  </div>
                  <div class="count">
                      <button type="button" onclick="increaseAdult()">+</button>
                      <span class="num" id="displayAdult">1</span>
                      <button type="button" onclick="decreaseAdult()">-</button>
                  </div>
              </div>
              <div class="child">
                  <div class="children">
                      <h4>Children</h4>
                      <span>Under 18 ( {{ place.half_price }} EG )</span>
                  </div>
                  <div class="count">
                      <button type="button" onclick="increaseChild()">+</button>
                      <span class="num" id="displayChild">0</span>
                      <button type="button" onclick="decreaseChild()">-</button>
                  </div>
              </div>
              <p>Total Price:</p>
              <div class="totalPrice">0</div>
              <input type="hidden" id="total-price-input" name="total_price" value="0">
              
              {% if user.is_authenticated %}
              <form method="GET" action="{% url 'payment' slug=place.slug %}">
                  <input type="hidden" id="total-price-hidden" name="total_price" value="0">
                  <button class="btn btn-primary btn-lg btn-block" type="submit">Book now</button>
              </form>
              {% else %}
              <a href="{% url 'login' %}?next={% url 'home_detail' slug=place.slug %}" class="btn btn-primary btn-lg btn-block">Login to Book</a>
              {% endif %}
          </div>
      </div>
  </div>
</div>
<!-- End Details Package -->

<script>
  function calculateTotalPrice() {
      let adultPrice = {{ place.price }};
      let childPrice = {{ place.half_price }};
      let adults = document.getElementById('displayAdult').innerText;
      let children = document.getElementById('displayChild').innerText;
      let totalPrice = (adults * adultPrice) + (children * childPrice);
      document.querySelector('.totalPrice').innerText = totalPrice;
      document.getElementById('total-price-input').value = totalPrice;
      document.getElementById('total-price-hidden').value = totalPrice;
  }

  document.querySelectorAll('.count button').forEach(button => {
      button.addEventListener('click', calculateTotalPrice);
  });

  calculateTotalPrice();
</script>

{% endblock content %}
