asgiref==3.8.1
beautifulsoup4==4.12.3
bootstrap4==0.1.0
certifi==2024.2.2
charset-normalizer==3.3.2
dj-stripe==2.8.4
Django==5.0.6
django-bootstrap4==24.3
django-filter==24.2
django-jsonfield==1.4.1
django-mooch==0.6.0
django-payments==2.0.0
django-phonenumber-field==7.3.0
django-stripe-payments==2.0.0
django-user-payments==0.3.3
idna==3.7
phonenumberslite==8.13.36
pillow==10.3.0
pytz==2024.1
requests==2.31.0
six==1.16.0
soupsieve==2.5
sqlparse==0.5.0
stripe==4.2.0
typing_extensions==4.11.0
urllib3==2.2.1
