/* Start landing section  */
.landing-contact{
    background-image: url(../../images/contact.jpeg);
    background-size: cover;
    height:calc(100vh - 90px);
    position: relative;
}
.landing-contact .intro-text{
    position: absolute;
    left: 50%;
    top: 50%;
    text-align: center; 
    transform: translate(-50%, -50%);
    width: 320px;
    max-width: 100%;
}
.landing-contact .intro-text h1{
    margin: 0;
    font-weight: bold;
    font-size: 50px;
    color: white;
}
/* End landing section  */

/* start features */
.features{
    margin-top: 70px;
    margin-bottom: 100px;
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);      
}
.features .container{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px,1fr));
    grid-gap: 5px;
    text-align: center;
}
.features .feat {
    padding: 20px;
}
.features .feat i {
    color:var(--main-color);
    font-size: 50px;
}
.features .feat h3{
    font-weight: 800;
    margin: 30px 0;
}
.features .feat p{
    line-height: 1.6;
    color: #777;
    font-size: 17px;
}
.features .feat h5{
    margin: 0;
    padding-top: 10px;
    font-family: var(--font-fam) Calligraphy;
    color: var(--main-color);
}
/* End Features  */

.parent{
    position: relative;
    padding-top:600px ;
}
.form {
    position: absolute;
    top: 28%;
    left: 50%;
    transform: translate(-50%,-50%);
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
    background-color: #eee;
    border: 0.1px solid var(--main-color);
    align-items: center;
    width: 75%;
    height: 600px;
    border-radius: 10px;
    margin: auto;
    padding-left: 10px;
    text-align: center;
    z-index:9;
}

.form h1{
    font-weight: 700;
    line-height: 1.2rem;
    text-align: center
}
.form p{
    text-align: center;
    color: #777;
}
.form span{
    text-decoration: underline;
}
.form .inp{
    width: 70px;
    display: block;
}

div input,textarea{
    width: 54%;
    padding: 15px;
    font-size: 17px;
    color: #333;
    margin: 10px 0;
    border: none;
    border-bottom: 1.7px solid #1bbc9b;
    text-transform: none;
    caret-color: var(--main-color);
    background-color: var(--co-inputFiled);
    border-radius: var(--br-5);
}
div .foc,textarea:focus {
    outline: none;
}
div textarea{
    min-height: 150px;
}
div .foc .btn{
    margin-bottom: 100px;
}
/* End Form */

/* Start Map */
div .map{
    margin-top:-100px;
    color: #777;
}
.parent iframe{
    width: 100%;
    height: 500px;
}
@media (max-width:320px) {
    .parent iframe{
        display: none;
    }
}
/* End Map  */
