/* Style for the form container */
.parent {
    width: 100%;
    max-width: 500px; /* Adjust the max-width as needed */
    margin: 0 auto; /* Center the form horizontally */
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  /* Style for the form elements */
  .form input[type="text"],
  .form input[type="email"],
  .form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
  }
  
  .form textarea {
    height: 100px;
  }
  
  /* Style for the submit button */
  .form input[type="button"] {
    width: 100%;
    padding: 10px;
    background-color: #16aa47;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  /* Hover effect for the submit button */
  /* .form input[type="button"]:hover {
    background-color: #0056b3;
  } */
  