.fa-star {
    display: inline-block;
    color: gold;
    user-select: none;
}

.filter {
    width: 100%;
    height: fit-content;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 12px 20px 0 rgb(0 0 0 / 13%), 0 2px 4px rgb(0 0 0 / 12%);
    display: flex;
    gap: 50px;
    margin-bottom: 30px;
    background-color: #f8f9fa; /* Added background color */
    position: relative; /* Added position relative */
    z-index: 100; /* Added z-index */
}

.filter > div {
    flex: 1; /* Make child divs fill the container evenly */
}

.filter .filter-text {
    font-size: 20px; /* Adjusted font size */
    font-weight: bold; /* Adjusted font weight */
    margin-bottom: 10px; /* Added margin bottom */
}

.our-packages {
    margin-bottom: 70px;
    position: relative; /* Ensure it's positioned relative to contain absolute elements */
    z-index: 1; /* Ensure it's above the filter */
}
/* 
.our-packages .intro-text-packages {
    background-image: url({% static 'images/our-packages.jpeg' %});
    background-size: cover;
    height: calc(100vh - 120px);
    color: white;
    flex-basis: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.our-packages .intro-text-packages::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: -1;
}

.our-packages .intro-text-packages h1 {
    margin: 0;
    font-weight: bold;
    font-size: 50px;
    color: white;
} */
    .parent {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
        gap: 20px;
        justify-items: center;
        position: relative;
        z-index: 1;
    }

    .card {
        width: 100%; /* Adjust width as needed */
        height: max-content;
        margin: 10px;
        border-radius: 10px;
        box-shadow: 0 12px 20px 0 rgb(0 0 0 / 13%), 0 2px 4px rgb(0 0 0 / 12%);
    }

    .card-img-top {
        width: 100%; /* Adjust width as needed */
        height: 250px;
        border-radius: 10px;
    }



.card:hover .card-img-top {
    opacity: 0.8;
}

.card-body {
    padding: 10px;
}

.name-star {
    display: flex;
    align-items: center;
}

.card-title {
    margin-top: 0;
    margin-bottom: 0;
}

.card .card-body .name-star i {
    font-size: 15px;
    margin-left: 10px;
}

.location-h {
    display: flex;
    align-items: center;
    margin-bottom: 0;
}

.fa-location-dot {
    margin-right: 10px;
    color: red;
}

.card ul {
    padding-top: 10px;
    border-top: 1px solid #333;
    border-bottom: 1px solid #333;
}

.card ul li {
    color: #333;
    display: block;
    font-size: 17px;
    padding-bottom: 10px;
    margin-right: 10px;
}

.card ul li::before {
    content: '\f058';
    font-family: "Font Awesome 5 Free";
    color: var(--main-color);
    font-weight: 900;
    margin-right: 10px;
}

.info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0;
}

.btn-book {
    background-color: var(--main-color);
    color: white;
    padding: 8px 15px;
    cursor: pointer;
    border: none;
    user-select: none;
    border-radius: var(--br-5);
    transition: var(--main-transition);
}

.btn-book:hover {
    background-color: var(--secondary-color);
    -o-transform: scale(.97);
    -webkit-transform: scale(.97);
    -moz-transform: scale(.97);
    -ms-transform: scale(.97);
    transform: scale(.97);
}