{% extends 'base.html' %}
{% load static %}
{% block add %}
<link rel="stylesheet" href="{% static 'CSS/shop.css' %}">
{% endblock add %}
{% block content %}
<style>
  .travel .box .package .time {
    position: relative;
    display: flex;
    align-items: center;
    margin: auto;
    height: 40px;
    width: max-content;
    background-color: #fff;
    border: #1bbc9c40 1px solid;
    bottom: 25px;
    border-radius: var(--br-5);
}
.travel .box .package .time span{
    font-size: 15px;
    margin-right: 140px;
}
.travel .box .package .time i{
    color : var(--main-color);
    padding: 0 10px;
}
.travel .box .package .time i:hover{
    cursor: pointer;
    transform: scale(1.2);
    color: #008f96e3;
}
.travel .box .package .text{
    padding: 0 20px 20px;
    position: relative;
}
.travel .box .package .text h3{
    margin: 0;
}
.travel .box .package .text .location,
.travel .box .package .text .continent,
.travel .box .package .text .ticket,
.travel .box .package .text .calendar{
    padding-left: 30px;
    font-size: 17px;
    user-select: none;
}
.travel .box .package .text .location::before,
.travel .box .package .text .continent::before,
.travel .box .package .text .ticket::before,
.travel .box .package .text .calendar::before{
    left: 20px;
}
.travel .box .package .text .description{
    border-top: 1px solid #ebebeb;
    border-bottom: 1px solid #ebebeb;
    padding: 20px 0;
    font-size: 17px;
    color: var(--clr909090);
}
.travel .box .package .price{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.travel .box .package .price p{
    font-weight: bold;
    font-size: 20px;
}
.travel .box .package .price p span{
    text-decoration: line-through;
    font-size: 14px;
    color: #999;
}
.travel .box .package .price p strike{
    font-size: 12px;
}
</style>
<!-- Start Traveling -->
<div class="travel" id="travel" >
  <div class="container" >
    <div class="box">
      {% for place in places %}
          <div class="package box-1">
            <a href="{% url 'detail' slug=place.slug %}">
            <div class="image">
              <img src="{{place.image.url}}" alt="" />
            </div>
          </a>
            <div class="time">
              <i class="fa-sharp fa-solid fa-clock fa-xs"></i>
              <span>{{place.duration}} {{place.period}}</span>
              <i
                class="fa-solid fa-envelope fa-xs"
                onClick="showFormRequest()"
              ></i>
              <a href="#" title="map"
                ><i class="fa-solid fa-map-location-dot fa-xs"></i
              ></a>
            </div>
            <div class="text">
              <h3>{{place.city}}</h3>
              <!-- city name -->
               <p class="location">{{place.country}}</p>
               <!-- continent name -->
               <p><i class="fa-solid fa-earth-africa" style="color: var(--main-color)"></i> {{place.continent}}</p>
               <p class="ticket" title="Ticket">{{place.flight_class}}</p>
               <!-- Time -->
               <p class="calendar" title="Take-off time">{{place.date|date:"d-m-Y"}}</p>
             
              <!-- country name -->
              <p class="description">
                {{place.description}}
              </p>
              <div class="price">
                <a href="{% url 'detail' slug=place.slug %}">
                <button class="btn">Details</button>
              </a>
              {% if place.discount %}
              <p>EGP {{place.price}} <span>EGP {{place.discount}}</span></p>
            {% else %}
            <p>EGP {{place.price}}</p>
            {% endif %}
              </div>
            </div>
          </div>
          {% endfor %}
    </div>
  </div>
</div>
<!-- End Traveling -->

{% endblock content %}