 {% extends "base.html" %}
 {% load bootstrap4 %}
 {% load static %}
 {% block add %}
 <link rel="stylesheet" href="{% static 'CSS/search.css' %}">
 {% endblock add %}
 {% block content %}
 <!--   Start Search  -->
 <div class="parent">
    <div class="container">
        <div class="cards">
            {% for hotel in hotels %}
            <div class="card">
                <img class="card-img-top" src="{{hotel.image.url}}" alt="Card image cap" />
                <div class="card-body">
                    <h5 class="card-title">{{hotel.name}}</h5>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <br />
                    <i class="fa-solid fa-location-dot"></i>
                    <p class="card-text">{{hotel.country}} - {{hotel.address}}</p>

                    <ul>
                        <li>{{hotel.features1}}</li>
                        <li>{{hotel.features2}}</li>
                        <li>{{hotel.features3}}</li>
                    </ul>

                    <hr />
                    <p class="price">price : {{hotel.price}} EG</p>
                    <a class="btn btn-primary btn-lg btn-block" target="_blank" type="submit" href="{% url "payment" slug=hotel.slug  %}">Book now </a>
                </div>
            </div>
            {% endfor %}
        </div>

                  <!--  Start Checkboxes  -->
                  <div class="container">
                    <div class="row justify-content">
                        <div class="col-md-20">
                            <form method="GET">
                                {% for field in myfilter.form.visible_fields %}
                                <div class="form-group row">
                                    <label class="col-sm-6 col-form-label">{{ field.label }}</label>
                                    <div class="col-sm-8">
                                        {{ field }}
                                    </div>
                                </div>
                                {% endfor %}
                                <div class="form-group text-center">
                                    <button type="submit" class="btn btn-primary btn-lg btn-block">Filter</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                

    </div>
</div>
<!-- End Checkboxes  -->



{% endblock content %}